body{
    margin: 0;
    padding: 0;

}
.container{
    text-align: center;
    margin-top: 60px;
}
.btn{
    border: 20px solid #008CBA;
    color: #ffffff;
    background: #008CBA;
    padding: 20x 40x;
    font-size: 40px;
    font-family: "montserrat";
    cursor: pointer;
    margin: 10px;
    transition: 0.8s;
}
.btn{
    border-radius: 15px;
    border: 20px solid #008CBA;
    padding: 20x 40px;
    width: 400px;
    height: 90px;
  }
.btn:hover{
color: #ffffff;
background: #33ccff;
}



